* {
    margin: 0;
    padding: 0;
}

/*ADJACENT SIBLING SELECTOR: SELETOR DE IRMÃO PRÓXIMO*/
.pai h1+p {
    color: red;
} /*Aplicar a cor vermelha a todo p encontrado logo após um h1 que esteja dentro da classe pai.*/

.pai p+h1 {
    color: blue;
} /*Agora todo h1 encontrado após um p será colorido de azul.*/


/*GENERAL SIBLING SELECTOR: SELETOR GERAL*/
.pai2 h1~p {
    color: rebeccapurple;
} /*Neste caso, todo p encontrado após um h1 será selecionado e pintado de roxo.*/

.pai2 p~h1 {
    color: yellow;
} /*Todo h1 após um p será amarelo.*/

[checked] {
    width: 50px;
    height: 50px;
} /*Atributos-padrão do HTML também podem ser selecionados.*/

[meu-atributo0="uhul xandao"] {
    color: red;
    font-size: 40px;
} /*Atributos para tags também podem ser selecionados. Você pode usar somente o atributo ou, para maior especificidade, usar o atributo e seu valor.*/

[meu-atributo1~="radiante"] {
    color: purple;
    font-size: 35px;
} /*Use ~= para selecionar um atributo que tenha pelo menos um de vários valores.*/

[meu-atributo2|="uhul"] {
    color: blue;
    font-size: 30px;
} /*Use |= para selecionar um atributo cujo valor é seguido por um traço, não importando o que venha depois do traço.*/

[meu-atributo3^="uhu"] {
    color: aqua;
    font-size: 25px;
} /*Use ^= para selecionar um atributo cujo valor começa com algo, no caso, com "um". Também poderia ser "uhu".*/

[meu-atributo4$="dao"] {
    color: tomato;
    font-size: 20px;
} /*Use $= para selecionar um atributo cujo valor termina com algo, no caso, com "o". Também poderia ser "dao".*/

[meu-atributo5*="ul xan"] {
    color: springgreen;
    font-size: 15px;
} /*Use *= para selecionar um atributo cujo valor possa conter qualquer coisa, no caso "ul xan". Também poderia ser "a"*/




